* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #19181f;
    background: #fff;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 16px;
}









.contenedor {
    width: 90%;
    margin: auto;
}

.header {
    background: #fff;
    position: sticky;
    top: 0%;
}

.header .texto {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1em 0;
}

.header h2 {
    font-size: 1.75rem;
    padding-top: 0.75rem;
    font-weight: 700;
}

.header p {
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 0.3rem;
}








.contenedor-main {
    margin: 2em auto;
    display: grid;
    grid-gap: 1.8rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
}

.contenedor-main .texto{
    background: #cd8b59;
    border-radius: 6%;
    padding: 2em;
    color: #fff;
}

.contenedor-main .texto p {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.25em;
    margin-bottom: 1.25em;
}

.contenido2 {
    background: #cd8b59;
    border-radius: 6%;
    padding: 2rem;
    color: #fff;
}

.contenido2 h2 {
    font-size: 1.8rem;
    margin: auto;
    margin-bottom: .5rem;
}

.contenido2 img {
    width: 100%;
}

.foto3 {
    width: 100%;
}








.nav2 {
    background: #a74c2a;
}

.nav2 .nav {
    width: 90%;
    margin: auto;
    padding: .6rem 0;
    display: flex;
    justify-content: space-between;
}

.nav2 .nav a {
    font-size: 1.2rem;
    font-weight: 1.45rem;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

.nav2 .nav a:hover {
    text-decoration: underline;
}









.footer {
    background-color: #19181f;
    color: #fff;
}

.footer .contenedor {
    padding: 1em 0;
    display: flex;
    justify-content: center;
}









@media screen and (max-width: 1100px) {
    .nav2 .nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
    .header .nav {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1050px) {
    body {
        font-size: 18px;
    }
    .contenedor-main {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
    }
    
    .header .nav {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .header .nav {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 750px) {
    body {
        font-size: 18px;
    }
    .nav2 .nav {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
}

@media screen and (max-width: 630px) {
    body {
        font-size: 13px;
    }
    .header .texto {
        display: flex;
        flex-flow: row wrap;
        padding: .4rem 0;
    }
    .logo {
        width: 100%;
        padding-bottom: 1rem;
    }
    .header .texto2 {
        width: 100%;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 530px) {
    .header .texto2 {
        grid-template-columns: repeat(1, 1fr);
    }

}