* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #19181f;
    background: #fff;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 16px;
}









.contenedor {
    width: 90%;
    margin: auto;
}

.header {
    background: #fff;
    position: sticky;
    top: 0%;
}

.header .texto {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1em 0;
}

.logo a {
    text-decoration: none;
    color: #19181f;
}

.header h2 {
    font-size: 1.75rem;
    padding-top: 0.75rem;
    font-weight: 700;
}

.header p {
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 0.3rem;
}








.nav2 {
    background: #C24914;
}

.nav2 .nav {
    width: 90%;
    margin: auto;
    padding: .6rem 0;
    display: flex;
    justify-content: space-between;
}

.nav2 .nav a {
    font-size: 1.2rem;
    font-weight: 1.45rem;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

.nav2 .nav a:hover {
    text-decoration: underline;
}









.footer {
    background-color: #19181f;
    color: #fff;
}

.footer .contenedor {
    padding: 1em 0;
    display: flex;
    justify-content: center;
}









@media screen and (max-width: 1100px) {
    .nav2 .nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
    .header .nav {
        grid-template-columns: repeat(4, 1fr);
    }
    .header .nav {
        display: flex;
        flex-flow: row wrap;
    }
}

@media screen and (max-width: 1050px) {
    body {
        font-size: 16px;
    }
    .header .nav {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 750px) {
    body {
        font-size: 14px;
    }
    .nav2 .nav {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.7rem;
    }
}

@media screen and (max-width: 630px) {
    body {
        font-size: 13px;
    }
    .header .texto {
        display: flex;
        flex-flow: row wrap;
        padding: .4rem 0;
    }
    .logo {
        width: 100%;
        padding-bottom: 1rem;
    }
    .header .texto2 {
        width: 100%;
        display: grid;
        grid-gap: 2.5rem;
        grid-template-columns: repeat(2, 1fr);
    }

}



@media screen and (max-width: 500px) {
    .header .texto2 {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: .25rem;
    }

}
@media screen and (max-width: 460px) {
    .header .nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

}




/****************************************************************************/



.contenedor-main {
    color: #fff;
}

.introduccion {
    display: grid;
    grid-gap: 1.8rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem 0;
}


.contenedor-main .descripcion {
    width: 100%;
    background-color: #A34A28;
    padding: 1.5rem;
    border-radius: 4%;
}

.contenedor-main .descripcion__titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.descripcion__parrafo {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
}

.foto img {
    width: 100%;
}




.fila2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 2rem;
}



.entrada {
    display: grid;
    grid-template-columns: 1;
    background-color: #A34A28;
    padding: 1.5rem;
    border-radius: 4%;
}

.entrada img {
    width: 100%;
}



.comedor {
    padding: 1.5rem;
    background: #A34A28;
    border-radius: 6%;
}

.comedor img {
    width: 100%;
}


.galeria {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: 2;
    gap: 1.5rem;
    margin-bottom: 2rem;
    background: #c24814b6;
    padding: 1.5rem;
    border-radius: 3.5%;
}

.galeria img {
    width: 100%;
}


.cocina {
    display: grid;
    grid-template-columns: 1;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.cocina__galeria {
    display: grid;
    padding: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
    background: #c24814b6;
    border-radius: 3.5%;
}

.cocina__galeria img {
    width: 100%;
}





@media screen and (max-width: 1000px) {
    .introduccion {
        display: flex;
        gap: 1.5rem;
        flex-flow: row wrap;
    }
    .introduccion .foto,
    .contenedor-main .descripcion {
        width: 65%;
        margin: auto;
    }
    .cocina .descripcion {
        width: 100%;
        margin: auto;
    }
}



@media screen and (max-width: 800px) {
    .fila2 {
        display: flex;
        flex-flow: wrap;
        align-items: center;
    }
    .entrada,
    .comedor,
    .cocina .descripcion,
    .introduccion .foto,
    .contenedor-main .descripcion,
    .cocina__galeria,
    .galeria {
        width: 85%;
        margin: auto;
    }

    .galeria {
        margin-bottom: 2rem;
        grid-template-columns: repeat(2, 48%);
        grid-template-rows: 3;
    }
}



@media screen and (max-width: 630px) {
    .entrada,
    .comedor,
    .cocina .descripcion,
    .introduccion .foto,
    .contenedor-main .descripcion,
    .cocina__galeria,
    .galeria {
        width: 100%;
    }
}



@media screen and (max-width: 550px) {
    .cocina__galeria,
    .galeria {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}

