* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #19181f;
    background: #fff;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 16px;
}





.contenedor {
    width: 90%;
    margin: auto;
}

.header {
    background: #fff;
    position: sticky;
    top: 0%;
}

.header .texto {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1em 0;
}

.logo a {
    text-decoration: none;
    color: #19181f;
}

.header h2 {
    font-size: 1.75rem;
    padding-top: 0.75rem;
    font-weight: 700;
}

.header p {
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 0.3rem;
}





.nav2 {
    background: #C24914;
}

.nav2 .nav {
    width: 90%;
    margin: auto;
    padding: .6rem 0;
    display: flex;
    justify-content: space-between;
}

.nav2 .nav a {
    font-size: 1.35rem;
    font-weight: 1.45rem;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

.nav2 .nav a:hover {
    text-decoration: underline;
}






.footer,
.footer2 {
    background-color: #19181f;
    color: #fff;
}

.footer2 .contenedor {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

.footer .footer__contenedor {
    width: 90%;
    margin: auto;
    padding: 1.5rem 0;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
}

.footer h3 {
    font-size: 1.45rem;
    margin-bottom: 1.15rem;
}

.footer p {
    font-size: 1.15rem;
    line-height: 1.5rem;
}

.footer__contenedor2 {
    width: 100%;
}





@media screen and (max-width: 1100px) {
    .nav2 .nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
    .header .nav {
        grid-template-columns: repeat(4, 1fr);
    }
    .header .nav {
        display: flex;
        flex-flow: row wrap;
    }
}



@media screen and (max-width: 1050px) {
    body {
        font-size: 15px;
    }
    .header .nav {
        grid-template-columns: repeat(4, 1fr);
    }
}



@media screen and (max-width: 780px) {
    body {
        font-size: 14px;
    }
    .nav2 .nav {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.7rem;
    }
    .footer .footer__contenedor {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }
}



@media screen and (max-width: 635px) {
    body {
        font-size: 13px;
    }
    .header .texto {
        display: flex;
        flex-flow: row wrap;
        padding: .4rem 0;
    }
    .logo {
        width: 100%;
        padding-bottom: 1rem;
    }
    .header .texto2 {
        width: 100%;
        display: grid;
        grid-gap: 2.5rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer .footer__contenedor {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 3;
    }
}



@media screen and (max-width: 500px) {
    body {
        font-size: 12px;
    }
    .header .texto2 {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: .25rem;
    }

}



@media screen and (max-width: 460px) {
    .header .nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

}





/*******************************************************************************************************/



.contenedor-main {
    color: #fff;
}



.descripcion {
    width: 100%;
    background-color: #A34A28;
    padding: 1.5rem 1.5rem 0 1.5rem;
    border-radius: 4%;
}

.cocina2 .descripcion {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}

.descripcion__titulo {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.descripcion__parrafo  p {
    font-size: 1.25rem;
    line-height: 1.55rem;
}




.foto img,
.galeria img,
.cocina__galeria img {
    width: 100%;
}



.introduccion {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem 0 1.5rem 0;
}

.contenedor-main .introduccion .descripcion {
    padding: 1.5rem;
}




.entrada,
.comedor,
.cocina2 {
    grid-gap: 1.5rem;
    background-color: #A34A28;
    border-radius: 4%;
}

.entrada .foto img,
.comedor .foto img {
    width: 100%;
    padding: 0 1.5rem 1.5rem 1.5rem;
}



.fila2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}










.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    background: #c24814b6;
    padding: 1.5rem;
    border-radius: 4%;
}




.cocina__galeria {
    display: grid;
    padding: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    background: #c24814b6;
    border-radius: 4%;
    margin-bottom: 2rem;
}











@media screen and (max-width: 1000px) {
    .introduccion {
        grid-template-columns: repeat(1, 1fr);
    }
    .introduccion .foto,
    .introduccion .descripcion {
        width: 65%;
        margin: auto;
    }
    .descripcion__titulo {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
    
    .descripcion__parrafo {
        font-size: 17px;
        line-height: 1.25em;
    }
}



@media screen and (max-width: 800px) {
    .fila2 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 2;
    }
    .entrada,
    .comedor,
    .cocina2,
    .introduccion .foto,
    .introduccion .descripcion,
    .cocina__galeria,
    .galeria {
        width: 85%;
        margin: auto;
    }
    .galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 3;
        margin-bottom: 1.5rem;
    }
    .cocina2,
    .cocina__galeria {
        margin-bottom: 1.5rem;
    }
    .descripcion__titulo {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
    .descripcion__parrafo {
        font-size: 17px;
        line-height: 1.25rem;
    }
}



@media screen and (max-width: 630px) {
    .entrada,
    .comedor,
    .cocina2,
    .introduccion .foto,
    .introduccion .descripcion,
    .cocina__galeria,
    .galeria {
        width: 100%;
    }
    .descripcion__titulo {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }   
    .descripcion__parrafo  p {
        font-size: 16px;
        line-height: 1.25em;
    }
}



@media screen and (max-width: 550px) {
    .cocina__galeria,
    .galeria {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .descripcion__titulo {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
    .descripcion__parrafo  p {
        font-size: 15px;
    }
}

